.image {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    max-height: 100px;
    max-width: 100px;
}

.datatable-image {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    max-height: 75px;
    max-width: 75px;
}