@model Blog.Entities.Dtos.Comment.CommentAddDto

<!-- Comments Form -->
<div  class="card my-4">
    <h5 class="card-header">Add a comment:</h5>
    <div class="card-body create-comment-card-body">
        <form asp-controller="Comment" asp-action="Create" method="post" onsubmit="return jQueryAjaxPost(this);">
            <input type="hidden" asp-for="PostId" />
            <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()"/>
            <div asp-validation-summary="All" id="validationSummary" class="text-danger" aria-hidden="true" style="display:none;"></div>
            <div class="form-group">
                <label asp-for="CreatedBy">Created By Name</label>
                <input type="text" asp-for="CreatedBy" class="form-control" required="required"/>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Content" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button id="add-btn" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
<!-- Comments Form -->