@model UserAddDto

<form id="form" asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()"/>
    <div asp-validation-summary="All" id="validationSummary" class="text-danger" aria-hidden="true" style="display:none;"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" autocomplete="off"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" autocomplete="off"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" autocomplete="off"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" type="text" class="form-control" autocomplete="off"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" type="text" class="form-control" autocomplete="off"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" type="text" class="form-control" autocomplete="off"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group col-md-12">
            <label asp-for="AboutMe"></label>
            <textarea class="form-control" asp-for="AboutMe"  rows="4"></textarea>
            <span class="text-danger" asp-validation-for="AboutMe"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="TwitterLink"></label>
            <input type="text" class="form-control" asp-for="TwitterLink" />
            <span class="text-danger" asp-validation-for="TwitterLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="FacebookLink"></label>
            <input type="text" class="form-control" asp-for="FacebookLink" />
            <span class="text-danger" asp-validation-for="FacebookLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="InstagramLink"></label>
            <input type="text" class="form-control" asp-for="InstagramLink" />
            <span class="text-danger" asp-validation-for="InstagramLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LinkedInLink"></label>
            <input type="text" class="form-control" asp-for="LinkedInLink" />
            <span class="text-danger" asp-validation-for="LinkedInLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="YoutubeLink"></label>
            <input type="text" class="form-control" asp-for="YoutubeLink" />
            <span class="text-danger" asp-validation-for="YoutubeLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="GitHubLink"></label>
            <input type="text" class="form-control" asp-for="GitHubLink" />
            <span class="text-danger" asp-validation-for="GitHubLink"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="WebsiteLink"></label>
            <input type="text" class="form-control" asp-for="WebsiteLink" />
            <span class="text-danger" asp-validation-for="WebsiteLink"></span>
        </div>
        <div class="form-group col-md-6">
                <label asp-for="File"></label>
                <input asp-for="File" type="file" accept="image/*" class="form-control-file" autocomplete="off"/>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
        </div>
    </div>
</form>