@model UserChangePasswordDto

@{
    Layout = "_Layout";
    ViewBag.Title = "Change Password";
}
<ol class="breadcrumb mt-4 mb-4">
    <li class="breadcrumb-item">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        <a asp-area="Admin" asp-controller="User" asp-action="ChangePassword">@ViewBag.Title</a>
    </li>
</ol>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-4 mb-1">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <form id="form" asp-action="ChangePassword" method="post" autocomplete="off">
                        <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div asp-validation-summary="All" id="validationSummary" class="text-danger" aria-hidden="true" style="display:none;"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" type="password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

